{{define "important"}}
<!DOCTYPE html>
<html lang="en">

{{template "important-header"}}

<body>

    <section class="page">
        <div id="nav-bar">
            {{template "important-navMenu"}}
            <div class="flexbox logout-container">
                <a class="flexbox" id="logout-btn" href="/logout">Logout</a>
            </div>
        </div>
        {{template "main-content" .}}
</body>

</html>
{{end}}