<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo List</title>
    <link rel="stylesheet" href="../static/styles/main.css">
</head>

<body>
    <section class="page">
        <div id="nav-bar">
            <ul id="nav-menu">
                <li><a class="flexbox active-nav" href="">Today</a></li>
                <li><a class="flexbox" href="">Important</a></li>
                <li><a class="flexbox" href="">Planned</a></li>
                <li><a class="flexbox" href="">All Tasks</a></li>
            </ul>
        </div>
        <div class="flexbox" id="main-content">
            <div id="tasks-container">
                <div class="task-container"></div>
                <div class="task-container"></div>
            </div>

            <div id="buttons-container">
                <button class="button" id="add-btn">Add Task</button>
            </div>
        </div>
    </section>
</body>

</html>