<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.0/css/fontawesome.min.css">
    <link type="css" rel="stylesheet" href="../static/styles/forms.css">
</head>

<body>
    <div id="form-container">
        <form id="LoginForm" name="LoginForm" onsubmit="return validateForm()">
            <label class="label" for="username">Username</label><br>
            <input class="input" type="text" id="username" name="username" placeholder="ِِِِِEnter your username"><br>
            <div class="error-msg" id="username-err"></div>

            <label class="label" for="lname">Password</label><br>
            <input class="input" type="text" id="password" name="password" placeholder="ِِِِِEnter your password"><br>
            <div class="error-msg" id="password-err"></div>

            <div id="submit-btn-container">
                <input id="submit-btn" type="submit" value="Submit">
            </div>
        </form>
    </div>
    {{if . }}
    <div class="error-msg">
        {{.}}
    </div>
    {{end}}
</body>

</html>