{{define "task"}}
    <div class="task-container flexbox" id="{{.ID}}" data-is-Today="{{.IsToday}}">
        <a class="fa fa-circle icon complete-circle {{if eq (.IsCompleted) (true)}}{{"checked"}}{{end}}"></a>
        <div class="task-text">
            <div class="task-desc">{{.Description}}</div>
                <div class="task-dueDate">{{if ne (.DueDate) ("")}}{{.GetFormattedDueDate}}{{end}}</div>
        </div>
        <a class="fa fa-star icon important-star {{if eq (.IsImportant) (true)}}{{"important"}}{{end}}"></a>
    </div>
{{end}}