{{define "today"}}
<!DOCTYPE html>
<html lang="en">

{{template "today-header"}}

<body>

    <section class="page">
        <div id="nav-bar">
            {{template "today-navMenu"}}
            <div class="flexbox logout-container">
                <a class="flexbox" id="logout-btn" href="/logout">Logout</a>
            </div>
        </div>
        {{template "main-content" .}}
</body>

</html>
{{end}}