* {
    margin: 0px;
    padding: 0px;
    outline: none;
    border: 0px;
    font-family: sans-serif;
    font-weight: lighter;
}

body {
    overflow: hidden;
}

.page {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 15% 85%;
    background-color: #F4F1DE;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-content {
    flex-direction: column;
}

#nav-bar {
    grid-row: 1;
    background-color: #3D405B;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#nav-menu {
    width: 100%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-menu li {
    float: left;
    height: 100%;
}

#nav-menu li a {
    height: 100%;
    font-size: 1.2em;
    display: block;
    height: 100%;
    width: 10vw;
    color: #F4F1DE;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-menu li a.active-nav {
    background-color: #61658F;
}

#nav-menu li a:hover:not(.active-nav) {
    background-color: #4E5273;
}

#tasks-container {
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    height: 70%;
    background-color: #F2CC8F;
    border-radius: 1.5vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow-y: scroll;
    padding: 2vh;
}

.task-container {
    width: 92%;
    height: 15%;
    background-color: #D7755B;
    /* background-color: #277DA1; */
    margin-top: 0.5vh;
    margin-bottom: 1vh;
    border-radius: 0.5vw;
    resize: none;
    flex-shrink: 0;
}

::-webkit-scrollbar {
    width: 0;
}

.task-text {
    width: 80%;
    text-align: left;
    font-size: 1.3vw;
    color: #F4F1DE;
}

.task-dueDate {
    margin-top: 0.2vh;
    font-size: 1.1vw;
    color: rgb(226, 223, 209);
}

#buttons-container {
    margin-top: 2vh;
    width: 41%;
    display: flex;
    justify-content: flex-end;
    border-radius: 1.5vw;
}

.button {
    width: 25%;
    padding: 2vh;
    background-color: #F3722C;
    color: #F4F1DE;
    border-radius: 1vw;
    font-size: 1.3vw;
}

.button:hover {
    background-color: #F38141;
    cursor: pointer;
}

#update-btn {
    margin-right: 0.5vw;
}

#delete-btn {
    background-color: #F94144;
    margin-right: 9.5vw;
}

#delete-btn:hover {
    background-color: rgb(251, 87, 89);
}

#update-btn,
#delete-btn {
    display: none;
}

.icon {
    font-size: 3vw;
    color: #F2CC8F;
    margin: 0 2vw 0 2vw;
}

.icon:hover {
    cursor: pointer;
}

.checked {
    color: #F4F1DE;
}

.label {
    width: 25%;
    height: 10%;
    background-color: #F4F1DE;
    border-radius: 1vw;
    margin-top: 0.5vh;
    margin-bottom: 1.5vh;
    margin-right: 23vw;
    flex-shrink: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.22);
}

.modal-content {
    flex-direction: column;
    justify-content: flex-start;
    width: 35%;
    height: 74%;
    background-color: #81B29A;
    border-radius: 1.5vw;
    animation: bringPopUpDown 0.5s ease;
}

@keyframes bringPopUpDown {
    from {
        transform: translateY(-20%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.close {
    margin: 3vh 0 3vh 27vw;
    color: #F4F1DE;
}

.modal-label {
    height: 8%;
    margin-right: 21vw;
    margin-bottom: 3vh;
}

.modal-input {
    margin-right: 0;
    margin-bottom: 5vh;
    padding: 1.5vh;
    border-radius: 0.5vw;
    width: 80%;
    margin-right: 0;
}

.modal-icons {
    width: 80%;
    color: #F4F1DE;
}

.modal-icon {
    color: #F4F1DE;
    margin-bottom: 1.2vh;
}

.today-icon,
.modal-star-icon {
    flex-direction: column;
    flex-shrink: 0;
}

.today-icon:hover,
.modal-star-icon:hover {
    cursor: pointer;
}

.today-icon {
    margin-right: 4vw;
}

.modal-star-icon {
    margin-right: 9.5vw;
}

.modal-buttons {
    width: 85%;
    display: flex;
    justify-content: flex-end;
    margin-top: 5vh;
}

.modal-buttons .button {
    width: 33%;
    padding: 1.7vh;
}

.modal-cancel {
    background-color: #F94144;
    margin-right: 1vw;
}

.modal-cancel:hover {
    background-color: rgb(251, 87, 89);
}

.close:hover {
    color: rgb(228, 225, 209);
}